@import 'reset.css';

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sketchGrid {
  flex: 0 0 auto;
  margin: auto;
  height: 90cqmin;
  width: 90cqmin;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pixel {
  --side: calc(100% / var(--size));
  width: var(--side);
  height: var(--side);
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.pixel:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

header, footer {
  --color: rgba(255, 255, 255, 0.1);
  display: flex;
  background: var(--color);
  justify-content: space-evenly;
  box-shadow: 0 0 2vh 2vh var(--color);
}
