*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #333;
}

main {
  padding: 5vmin;
}

.sketchGrid {
  flex: 0 0 auto;
  margin: auto;
  width: 90vmin;
  height: 90vmin;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*accidental select and dragging bugs pointerup events*/
  user-select: none;
}

.pixel {
  --side: calc(100% / var(--size));
  width: var(--side);
  height: var(--side);
  border: 1px rgba(0, 0, 0, 0.1) solid;

}

.pixel:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.colored {
  background: black;
}
